.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.home-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.home-description {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin-right: 1rem;
}
